<div>
<label for="username">Username</label>
{{#view GithubScore.UsernameSearchView id="username" valueBinding="controller.username"}}


{{#if controller.content}}
  <ul>
  {{#each controller}}
    <li>{{url}}: {{eventType}}</li>
  {{/each}}
  </ul>
{{else}}
  Please enter a user
{{/if}}

</div>

{{/view}}