<div>
<label for="username">Username</label>



{{#if controller.content}}
  <ul>
  {{#each controller}}
    <li>{{url}}: {{eventType}}</li>
  {{/each}}
  </ul>
{{else}}
  Please enter a user
{{/if}}

</div>